<script id="x-footer" type="text/x-template">
    <v-container fluid>
        <v-row>
            <v-col cols="6">
                <v-card>
                    <v-text-field type="text" label="This is another input"></v-text-field>
                </v-card>
            </v-col>
        </v-row>
    </v-container>
</script>
